.orange_gradient {
    @apply bg-gradient-to-r from-amber-300 via-orange-600 to-yellow-400 bg-clip-text text-transparent;
}

.pink_gradient {
    @apply bg-gradient-to-r from-pink-400 via-red-600 to-pink-100 bg-clip-text text-transparent;
}

.green_gradient {
    @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #ffe14b 1.9%, #ffffff 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #ffe14b 1.9%, #ffffff 97.5%);
  }